



.edit-profile-container {
  
    font-size: 2rem;
    width: 1000px;
    height: 95vh;
    border: 1px solid $dark-border-color;
    background-color:$lighter-layout-color;
    border-radius: 5px;
    margin: 20px auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    .edit-profile-label {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      h3 {
        margin-right: 2rem;
        width: 24%;
        display: flex;
        justify-content: flex-end;
      }
  
      .edit-user-input {
        height: 41px;
        border-radius: 10px;
        padding: 10px;
        width: 72%;
        justify-content: flex-end;
      }
    }
    .image-upload> input {
        display: none;
        // visibility: hidden;
      //   height: 10px;
      //   width:1px;
      }
    .update-profile-pic-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .edit-image {
        @include profilePic;
        height: 15rem;
        width:15rem;
        margin-bottom: 15px;
        //make this a mixing
      }
      h3 {
        font-weight: 200;
      }
  
      label {
        color: #3897f0;
      }
    }
    .sumbit-btn {
      @include submit-btn;
      opacity: .3;  
      height: 4rem;
      width: 10rem;
      align-self: center;
    }
    .sumbit-btn-after-changes {
      opacity: 1;  
    }
    
  }