@font-face {
    font-family: sans-reg;
    src: url(fonts/Open_Sans/OpenSans-Light.ttf);
 }
 
 @font-face {
    font-family: sans-bold;
    src: url(fonts/Open_Sans/OpenSans-Bold.ttf);
 }

 @font-face {
    font-family: mic-reg;
    src: url(fonts/taile.ttf);
 }

 @font-face {
    font-family: lily;
    src: url(fonts/LilyScriptOne-Regular.ttf);
 }
 @font-face {
   font-family: monst-light;
   src: url(fonts/Montserrat-Light.ttf);
}
@font-face {
   font-family: monst-bold;
   src: url(fonts/Montserrat-SemiBold.ttf);
}
