.btn{
    cursor: pointer;
}
.bold-reg{
    font-weight: bold;
    font-family: monst-bold;
}

.right{
    float:right;
}

.displayNone {
    display: none;
}
.visibilityNone {
    visibility:hidden;
}
.red{
    color:red;
}

.page-container{
    width:72%;
    margin:0 auto;
}