.btn{
    cursor: pointer;
}
.bold-reg{
    font-weight: bold;
    font-family: monst-bold;
}

.right{
    float:right;
}

.displayNone {
    display: none;
}
.visibilityNone {
    visibility:hidden;
}
.red{
    color:red;
}

.page-container{
    margin:0 auto;

@media only screen 
  and (max-width: 2500px) {
      // background-color:lightblue;
        width:72%;
  }

  @media only screen 
  and (max-width: 1500px) {
        // background-color: red;
        width:80%;
  }

  @media only screen 
  and (max-width: 1350px) {
        // background-color:lightgreen;
        width:85%;
    
  }

  @media only screen 
  and (max-width: 1200px) {
        // background-color:beige;
        width:90%;
  }

  @media only screen 
  and (max-width: 1000px) {
        // background-color:fuchsia;
        width:94%;
  }
  @media only screen 
  and (max-width: 800px) {
        // background-color:fuchsia;
        width:97%;
  }
  @media only screen 
  and (max-width: 700px) {
        // background-color:fuchsia;
        width:100%;
        overflow-x: hidden;
  }
}