.user-posts {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-gap: 1rem;
  margin-bottom:7rem;
  @media only screen and (max-width: $mobile-screen) {
    grid-gap: .5rem;
  }

  @media screen and (max-width: $mobile-screen) {
    grid-template-columns: 33% 33% 33%;
  }

  .visitedUserImg {
    height: 30rem;
    object-fit: cover;
    width: 100%;

    @media only screen and (max-width: 2500px) {
      height: 30rem;
    }
    @media only screen and (max-width: 1500px) {
      height: 26rem;
    }
    @media only screen and (max-width: 1200px) {
      height: 23rem;
    }
    @media only screen and (max-width: 1000px) {
      height: 20rem;
    }
    // @media only screen and (max-width: 800px) {
    //   height: 16rem;
    // }
    @media only screen and (max-width: 500px) {
      height: 17rem;
    }
  }
}
