
  #myMap {
    height: 20rem;
    width: 100%;
    margin: 0 auto;
    @media screen and (max-width:700px) {
      margin-bottom: 3rem;
    }
  }
  .location-info-container {
 
    height: 30rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    height:  30rem;
    padding-left:3rem;
    @media screen and (max-width:700px) {
      height:  20rem;
    }
    @media screen and (max-width:500px) {
      height:  12rem;
      justify-content: center;

    }
    .location-img {
      height: 24rem;
      width: 24rem;
      margin-right: 5rem;
      border-radius: 18%;
      @include profilePic;
      @media screen and (max-width:700px) {
        height: 15rem;
        width: 15rem;
      }
      @media screen and (max-width:500px) {
        height: 9rem;
        width: 9rem;
        margin-right: 2rem;


      }
    }
    .location-name {
      font-size: 3rem;
      font-weight: 100;
    }
  }