#myMap {
  height: 20rem;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: $mobile-screen) {
    margin-bottom: 3rem;
  }
}

.location-info-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 3rem;
  height: fit-content;
  padding: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;

  @media screen and (max-width: $mobile-screen) {}

  @media screen and (max-width: 500px) {
    justify-content: center;
  }

  .location-img {
    height: 22rem;
    width: 22rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
    @include profilePic;

    @media screen and (max-width: $mobile-screen) {
      height: 19rem;
      width: 19rem;
    }

    @media screen and (max-width: 500px) {
      height: 15rem;
      width: 15rem;
      margin-right: 2rem;
    }
  }

  .location-name-container {
    width: fit-content;
    .location-name {
      font-size: 3rem;
      font-weight: 100;
    }
  }
}