.image-upload > input {
  display: none;
}

.main-nav-bar {
  height: 6rem;
  border-bottom: 1px solid $dark-border-color;
  border-top: 1px solid $dark-border-color;
  background-color: $lighter-layout-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  position: sticky;
  top: 0px;
  z-index: 10000003;

  .nav-buttons-container {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items:center;
    @media only screen and (max-width: 700px) {
      justify-content: center;
    }

    .search-users-field {
      @media only screen and (max-width: 700px) {
        display: none;
      }
    }
    .menu-icons {
      // width: 18rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media only screen and (max-width: 700px) {
        display: none;
      }
      i {
        margin-right: 1rem;
      }
      .userName-container{
        display:flex;
        align-items: center;
        justify-content: space-between;
        .userImg{
          @include profilePic;
          height: 4rem;
          width:4rem;
          margin-right: 1rem;
        }
        @media screen and (max-width:900px){
          .userName{
            display:none;
          }
        }
      }

    }
    .instagram-logo {
      font-family: lily;
    }
  }
}
