.image-upload > input {
    display: none;
  }
  
  .main-nav-bar {
    height: 8rem;
    border-bottom: 1px solid $lighter-font-color;
    border-top: 1px solid $darker-font-color;
    background-color: $lighter-layout-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
  
    .nav-buttons-container {
      width: 70%;
      max-width: 115rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .menu-icons {
        width: 18rem;
        display: flex;
        justify-content: space-between;
      }
      .instagram-logo {
        font-family: lily;
      }
    }
  }