.image-upload>input {
  display: none;
}

.logo-text {
  font-family: lily;
  cursor: pointer;
}

.home-button {
  .logo-text {
    display: none;
    @media screen and (min-width: 500px) {
      display: block;
    }
  }

  .fa-instagram {
    display: block;

    @media screen and (min-width: 500px) {
      display: none;
    }
  }
}

.main-navbar {
  display: flex;
  height: 8rem;
  border-bottom: 1px solid $dark-border-color;
  border-top: 1px solid $dark-border-color;
  background-color: $lighter-layout-color;
  align-items: center;
  font-size: 2.2rem;
  position: sticky;
  top: 0px;
  z-index: 10000003;
  background-color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  .cellphone-navbar {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row;

    .fa-cog {
      margin-left: 0.5rem;
    }

    .navbar-title{
      cursor: pointer;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 25rem;

    @media screen and (min-width: $mobile-screen) {
      width: 30rem;
    }

    .dropdown {
      width: 100%;

      .search-users-field {
        height: 4rem;
        font-size: 2.5rem;
        border: 1px solid black;
        padding: 2rem;
        width: 100%;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fafafa;
        width: 25rem;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        overflow-y: auto;

        @media screen and (min-width: $mobile-screen) {
          width: 30rem;
        }
      }

      .display-content {
        display: block;
        margin: 0 auto;
        z-index: 999999;
      }
    }
  }

  .icons {
    width: fit-content;
    justify-content: space-evenly;
    align-content: center;
    display: flex;
    flex-direction: row;

    .image-upload {
      height: 100%;
      margin-right: 0.5rem;

      label {
        display: flex;
        font-size: 3rem;
        height: 100%;
        align-items: center;
      }
    }

    .userImg {
      @include profilePic;
      width: 5.5rem;
      height: 5.5rem;
      cursor: pointer;
    }
  }

  .login-container {
    width: fit-content;

    @media screen and (max-width: $mobile-screen) {
      display: none;
    }

    i {
      color: black;
    }

    .link {
      display: flex;
      align-items: center;
      flex-direction: row;
      text-decoration: none;
      color: black;
    }
  }
}