.modal-mask {
  z-index: 10000004;
  @include mask;
  @media screen and (max-width: 700px) {
    z-index: 1;
    position: absolute;
    top: 0;
    height: 100vh;
    margin-top: 6rem;
    margin-bottom: 8rem;
    background-color: yellow;
  }
}

// .new-image-model-mask {
//   @include mask;
//   @media screen and (max-width: 700px) {
//     margin-top: 6rem;
//     margin-bottom: 8rem;
//     position: absolute;
//     top: 0;
//     left: 0;
//   }
// }

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-container {
  @include modelArea;
}

/*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
