
.profile {
    display: flex;
    flex-direction: column;
    height: 100vh;
    // width: 70%;
    margin: 0 auto;
    .profile-pic-container {
      height: 30%;
      padding: 4rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
  
      .profile-pic {
        @include profilePic;
        margin-right: 10rem;
        height: 15rem;
        width:15rem;
      }
      .loggedin-user-details {
        display: flex;
        flex-direction: column;
        line-height: 3.5rem;
        width: 40%;
        div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        .username {
          font-size: 2.5rem;
          .edit-profile-or-following-btn {
            @include general-button;
            margin-right: 1rem;  
          }
          .follower-user-btn{
            @include submit-btn;
            width: 89px;
            height: 30px;
          }
        }
        .numbers {
          font-size: 1.5rem;
        }
        .fullname {
          font-size: 2rem;
        }
        .bio{
          font-size: 1.5rem;
          line-height: 1;
          margin-top: 1rem;
          font-weight: 500;
        }
      }
    }
    .posts-container {
      color:$darker-font-color;
      height: 70%;
      .filter-nav {
        border-top: 1px solid $lighter-font-color;
        display: flex;
        justify-content: center;
        span {
          margin: 0rem 9rem;
          font-size: 1.5rem;
          padding:1rem;
        }
      }

      .chosen-filter {
        color: black;
        font-weight: bold;
        border-top: 1px solid #262626;
       
        // color:green;
        //add a thicker line to the line above
      }
    }
  }