.profile {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  .profile-pic-container {
    height: 30%;
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .profile-pic {
      @include profilePic;
      margin-right: 5rem;
      height: 15rem;
      width: 15rem;
    }

    .user-details {
      display: flex;
      flex-direction: column;
      line-height: 4rem;
      width: 70%;
      height: 100%;
      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .username {
        font-size: 2.5rem;
        .edit-profile-or-following-btn {
          @include general-button;
          width: 9rem;
          height: 3rem;
        }
        .follower-user-btn {
          @include submit-btn;
          width: 9rem;
          height: 3rem;
        }
      }
      .numbers {
        font-size: 2rem;
      }
      .fullname {
        font-size: 2rem;
      }
      .bio {
        font-size: 1.7rem;
        line-height: 1;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: 500;
        overflow: auto;
        padding: 0.5rem;
      }
    }

    @media only screen and (max-width: 2500px) {
      .user-details {
        width: 50%;
      }
    }
    @media only screen and (max-width: 1500px) {
      .user-details {
        width: 56%;
      }
    }
    @media only screen and (max-width: 1200px) {
      .user-details {
        width: 63%;
      }
    }
    @media only screen and (max-width: 1000px) {
      .user-details {
        width: 70%;
      }
    }
  }

  @media screen and (max-width: 700px) {
    .profile-pic-container {
      height: 35%;
      margin-top: 0.5rem;
      // margin-bottom: 1rem;
      // padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media screen and (max-width: 500px) {
        height: 40%;
      }
      .upperpart-of-profile {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 1rem;
        height: 40%;
        width: 100%;

        .profile-pic {
          @include profilePic;
          margin-right: 3rem;
          height: 10rem;
          width: 10rem;
          @media only screen and (max-width: 500px) {
            height: 8rem;
            width: 8rem;
          }
        }
        .column {
          display: flex;
          flex-direction: column;
          width: 50%;
          @media only screen and (max-width: 500px) {
            width: 70%;
          }
          .numbers {
            font-size: 1.5rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 50%;
            overflow: hidden;
            // border-bottom: 1px solid $dark-border-color;
            // border-top: 1px solid $dark-border-color;
            // background-color: darken(#fafafa, 5%);
            padding: 0.5rem;

            p {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
            }
          }
          // .username {
          //   font-size: 2.2rem;
          //   margin-bottom: 1rem;
          //   @media only screen and (max-width: 500px) {
          //     margin-bottom: 0.5rem;
          //   }
          // }

          .edit-profile-or-following-btn {
            @include general-button;
            height: 3rem;
            width: 9rem;
            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }
          .mobile-following {
            @include general-button;
            height: 3rem;
            width: 47%;
          }
          .message{
            margin-right: 5%;
          }
          .follower-user-btn {
            @include submit-btn;
            width: 80%;
            height: 3rem;
            @media only screen and (max-width: 500px) {
              height: 3rem;
              width: 100%;
            }
          }
        }
      }

      .fullname {
        font-size: 1.9rem;
        margin-bottom: 0.5rem;
        margin-bottom: 0.5rem;
      }
      .bio {
        font-size: 1.8rem;
        line-height: 1;
        // margin-top: 1rem;
        font-weight: 500;
        overflow: auto;
        padding: 0.5rem;
        height: 40%;
      }
      .user-details {
        display: none;
      }
    }
    // .posts-container {
    //   .filter-nav {
    //     border-top: 1px solid $lighter-font-color;
    //     display: flex;
    //     span {
    //       font-size: 1.5rem;
    //       padding: 1rem;
    //       @media screen and ( max-width: 500px){
    //       }
    //     }
    //   }
    // }
  }

  .posts-container {
    color: $darker-font-color;
    height: 70%;
    @media screen and (max-width: 700px) {
      height: 65%;
    }
    @media screen and (max-width: 500px) {
      height: 60%;
    }
    .filter-nav {
      border-top: 1px solid $lighter-font-color;
      display: flex;
      justify-content: space-around;
      @media screen and (max-width: 700px) {
        border: 0px;
      }
      span {
        font-size: 1.5rem;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        @media screen and (max-width: 700px) {
          font-size: 2rem;
          .filter {
            display: none;
          }
        }
      }
    }

    .chosen-filter {
      color: black;
      font-weight: bold;
      @media screen and (min-width: 700px) {
        border-top: 1px solid #262626;
      }

      // color:green;
      //add a thicker line to the line above
    }
  }
}
