$lighter-layout-color:#fafafa;
$darker-layout-clr: darken(#fafafa, 2%);
$darker-font-color:darkgray;
$lighter-font-color: lightgray;
$dark-border-color:darken(#fafafa, 15%);

@mixin popup-button{
    float: right;
    background-color: rgba(0, 0, 0, 0);
    height: 70px;
    width: 70px;
    border: 1px solid rgba(0, 0, 0, 0);
    color: white;
    font-size:5rem;
    position: relative;
}

@mixin textarea {
    width: 100%;
    border: none;
    resize: none;
    font-size: 18px;
    margin:5px;
    padding:5px;
}

@mixin modelArea{
    color: black;
    font-size: 1.5rem;
    max-width: 95vw;
    margin: 0px auto;
    display: flex;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
}

@mixin general-button{
    border-radius: 11%;
    background-color: $lighter-layout-color;
    border: 1px solid $darker-font-color;
    width: 89px;
    height: 30px;
}

@mixin profilePic{
    border-radius: 50%;
    border: 1px solid black;
    object-fit: cover;
}
