.modal-default-button {
  @include popup-button;
  @media screen and (max-width: 700px) {
    display: none;
  }
}

.displayVertical {
  &.modal-container {
    flex-direction: column;
    margin-top: 1rem;
    min-height: 60rem;
    &.feed-image{
      margin-top: 1rem;
      margin-bottom: 1rem; 
    }
    @media screen and (max-width: 2500px) {
      width: 70rem;
      height: 92vh;
    }
    @media screen and (max-width: 700px) {
      width: 100vw;
      height: 120vh;
      &.pop-up-image{
        margin-top: 6rem;
        margin-bottom: 8rem;
      }

    }

    .currImage {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: black;
      background-position: center; /* Center the image */
      background-repeat: no-repeat;
      width: 100%;
      max-width: 100%;
      height: 56%;
      order: 2;
    }

    div {
      display: flex;
      padding: 0.5rem;
      width: 100%;
    }
    .user-info {
      order: 1;
      padding: 1rem;
      height: 8%;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid $lighter-font-color;
      font-size:2rem;

      .profile-pic {
        @include profilePic;
        width: 6rem;
        height: 6rem;
        flex-direction: row;
        margin: 1rem;
        // @media screen and(max-height:800px) {
        //   width: 5rem;
        //   height: 5rem;
        // }
      }
      .image-location {
        font-family: monst-light;
        font-weight: 100;
      }
    }
    .comments {
      height: 18%;
      border-bottom: 1px solid $lighter-font-color;
      flex-direction: column;
      overflow-y: scroll;
      order: 4;
    }
    .likes-and-followers {
      order: 3;
      height: 6%;
      margin-left: 0px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .icons {
        width: auto;
        i {
          font-size: 2.8rem;
          margin-right: 1rem;
        }
        .fa-bookmark {
          justify-self: flex-end;
          //ToDo - put on right side of box
        }
      }
      .column {
        flex-direction: column;
        display: flex;
        justify-content: center;

        .num-of-likes {
          margin-bottom: 0.5rem;
        }
        .time-posted {
          color: $darker-font-color;
        }
      }
    }
    .add-a-comment {
      height: 12%;
      order: 5;
      .viewed-image-text-area {
        @include textarea;
        height: 95%;
      }
    }
  }
}

.modal-container {
  flex-direction: column;

  @media screen and (max-width: 2500px) {
    width: 110rem;
    height: 70rem;
  }
  @media screen and (max-width: 700px) {
    width: 100vw;
    height: 100vh;
  }

  flex-wrap: wrap;
  .currImage {
    width: 65%;
    height: 100%;
    // object-fit: cover;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    &:hover {
      .arrow {
        display: block;
       
      }
    }
  }
  .arrow {
    font-size: 7rem;
    color: white;
    display: none;
    margin:3rem;
  }
  div {
    display: flex;
    padding: 0.5rem;
    width: 35%;
  }
  .user-info {
    padding: 1rem;
    height: 10%;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid $lighter-font-color;

    .profile-pic {
      @include profilePic;
      width: 5.5rem;
      height: 5.5rem;
      flex-direction: row;
      margin: 1rem;
    }

    .image-location {
      font-family: monst-light;
      font-weight: 100;
    }
  }
  .comments {
    height: 63%;
    border-bottom: 1px solid $lighter-font-color;
    flex-direction: column;
    overflow-y: auto;
  }
  .likes-and-followers {
    height: 15%;
    border-bottom: 1px solid $lighter-font-color;
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    .icons {
      width: 100%;
      margin-bottom: 0.5rem;

      i {
        font-size: 2.5rem;
        margin-right: 0.5rem;
      }
      .fa-bookmark {
        float: right;
        //ToDo - put on right side of box
      }
    }
    .column {
      display: flex;
      flex-direction: column;
      .num-of-likes {
        margin-bottom: 0.5rem;
      }
      .time-posted {
        color: $darker-font-color;
      }
    }
  }
  .add-a-comment {
    height: 12%;
    textarea {
      @include textarea;
    }
  }
}
